<div class="container">
  <h1>Create New Batch</h1>

  <a href="#" routerLink="/batch/index" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group">
      <label for="fruitType">Fruit Type:</label>
      <input
        formControlName="fruitType"
        id="fruitType"
        type="text"
        class="form-control">
      <div *ngIf="f.fruitType.touched && f.fruitType.invalid" class="alert alert-danger">
        <div *ngIf="f.fruitType.errors">Fruit Type is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="varietyType">Variety Type:</label>
      <input
        formControlName="varietyType"
        id="varietyType"
        type="text"
        class="form-control">
      <div *ngIf="f.varietyType.touched && f.varietyType.invalid" class="alert alert-danger">
        <div *ngIf="f.varietyType.errors">Variety Type is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input
        formControlName="quantity"
        id="quantity"
        type="number"
        class="form-control">
      <div *ngIf="f.quantity.touched && f.quantity.invalid" class="alert alert-danger">
        <div *ngIf="f.quantity.errors">Quantity is required.</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
